<h2>Add a Client</h2>
<form action="/clients" method="POST">
  <p>Client Name: <input type="text" name="name"></p>
  <p>Client Phone Number: <input type="number" name="number"></p>
  <p>Client Vehicle: <input type="text" name="vehicle"></p>
  <p>Client Info: <input type="text" name="client_info"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>