<h2> Edit Client Info </h2>

<form method="post" action="/clients/<%=@client.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="" value="<%= @client.info %>">
  <input type="submit" value="submit">
</form>