<p> <% @clients.each do |client| %>
  <%= client.info %>

<form method="post" action="/clients/<%=client.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Client">
</form>

<a href="/clients/<%=client.id%>/edit">Edit Client Info </a>
<% end %>